.button {
    border: none;
    border-radius: 20px;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.25s, transform 0.25s;
    margin-right: 6px;
    margin-left: 6px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
footer .button {
    padding: 10px 14px;
    font-size: 14px;
}
.button i {
    margin-right: 12px;
}
.button:hover {
    transform: scale(1.03);
}

.usm {
    background-color: #155bb5;
    color: white;
}
.usm:hover {
    background-color: #1c77ff;
}

.siga {
    background-color: #f44336;
    color: white;
}
.siga:hover {
    background-color: #ff7961;
}

.comunidad_sansana {
    background-color: #4caf50;
    color: white;
}
.comunidad_sansana:hover {
    background-color: #66bb6a;
}

.feusam {
    background-color: #ff62dd;
    color: white;
}
.feusam:hover {
    background-color: #ff80ab;
}

.cee {
    background-color: #9c27b0;
    color: white;
}
.cee:hover {
    background-color: #ba68c8;
}

.cal_academico {
    background-color: #ff9800;
    color: white;
}
.cal_academico:hover {
    background-color: #ffb74d;
}

.aula {
    background-color: #FCB101;
    color: black;
}
.aula:hover {
    background-color: #FDD835;
}

.biblioteca {
    background-color: #338388;
    color: white;
}
.biblioteca:hover {
    background-color: #4DB6AC;
}

.genero {
    background-color: #FF4081;
    color: white;
}
.genero:hover {
    background-color: #FF80AB;
}

.geekusm {
    background-color: #7B01E9;
    color: white;
}
.geekusm:hover {
    background-color: #A200FF;
}

.mov0 {
    background-color: #F6C280;
    color: white;
}
.mov0:hover {
    background-color: #F9D6A5;
}

.yotecuido {
    background-color: #CDB4FD;
    color: white;
}
.yotecuido:hover {
    background-color: #D6C2FF;
}

.carretesusm {
    background-color: #45B3E7;
    color: white;
}
.carretesusm:hover {
    background-color: #6EC6FF;
}

.escena {
    background-color: #DB281B;
    color: white;
}
.escena:hover {
    background-color: #FF5733;
}

.chillzone {
    background-color: #F9A8C1;
    color: white;
}
.chillzone:hover {
    background-color: #FFB3D1;
}

.cheer{
    background-color: #F7D84B;
    color: black;
}
.cheer:hover {
    background-color: #F9E08C;
}

.alejandria {
    background-color: #FF6F61;
    color: white;
}
.alejandria:hover {
    background-color: #FF8A73;
}

.discord {
    background-color: #7289DA;
    color: white;
}
.discord:hover {
    background-color: #99AAB5;
}

.reddit {
    background-color: #FF4500;
    color: white;
}
.reddit:hover {
    background-color: #FF6347;
}

.orquesta{
    background-color: #165483;
    color: white;
}
.orquesta:hover {
    background-color: #1C77FF;
}

.fablab {
    background-color: #FFB300;
    color: white;
}
.fablab:hover {
    background-color: #FFD54F;
}

.gbu {
    background-color: #FE272A;
    color: white;
}
.gbu:hover {
    background-color: #FF5252;
}

.cubesat {
    background-color: #181D7B;
    color: white;
}
.cubesat:hover {
    background-color: #3F51B5;
}

.neuro {
    background-color: #00BCD4;
    color: white;
}
.neuro:hover {
    background-color: #26C6DA;
}

.emi {
    background-color: #6f08cf;
    color: white;
}
.emi:hover {
    background-color: #8e24aa;
}

.natacion {
    background-color: #0B56E4;
    color: white;
}
.natacion:hover {
    background-color: #1E88E5;
}

.tenis {
    background-color: #FF5722;
    color: white;
}
.tenis:hover {
    background-color: #FF7043;
}

.esports {
    background-color: #DD261F;
    color: white;
}
.esports:hover {
    background-color: #FF5252;
}

.atletismo {
    background-color: #2867B7;
    color: white;
}
.atletismo:hover {
    background-color: #42A5F5;
}

.step {
    background-color: #1C3FA3;
    color: white;
}
.step:hover {
    background-color: #1E88E5;
}

.calistenia {
    background-color: #000000;
    color: white;
}
.calistenia:hover {
    background-color: #333333;
}

.avisos {
    background-color: #022B5F;
    color: white;
}
.avisos:hover {
    background-color: #033E7B;
}

.crossplay {
    background-color: #FFD157;
    color: black;
}
.crossplay:hover {
    background-color: #FFE082;
}

.tuna {
    background-color: #3F475A;
    color: white;
}
.tuna:hover {
    background-color: #5C6BC0;
}

.mujeres {
    background-color: #721A8A;
    color: white;
}
.mujeres:hover {
    background-color: #85058E;
}

.bailarines {
    background-color: #150F62;
    color: white;
}
.bailarines:hover {
    background-color: #1E88E5;
}

.puntoencuentro {
    background-color: #E8A44B;
    color: white;
}
.puntoencuentro:hover {
    background-color: #F9D6A5;
}

.horario_usm {
    background-color: #024D75;
    color: white;
}
.horario_usm:hover {
    background-color: #026A9E;
}

.blanco {
    background-color: white;
    color: black;
}
.blanco:hover {
    background-color: #E0E0E0;
}

.cuanticas {
    background-color: #EBE8FD;
    color: black;
}
.cuanticas:hover {
    background-color: #D6C2FF;
}